/.idea
/project/project/target/
/project/target
/target
*~
/src/test/isabelle/Scratch.thy
/src/test/isabelle/#Scratch.thy#
/src/test/isabelle/.*.marks
/.bsp
/component/dependencies
/component/target
/component/scala-isabelle-component.jar
