name: scala-isabelle
on: [push]
jobs:
    test-sc-isa:
      runs-on: [self-hosted, linux]
      steps:
        - name: Checkout repository
          uses: actions/checkout@v3
          
        - name: Running tests
          run: ci/test.py --no-show-results --num-tests 5

        - name: Upload test results
          uses: actions/upload-artifact@v4
          if: always()
          with:
            name: test-results
            path: target/test-results

#    publish-snapshot:
#      runs-on: [self-hosted, linux]
#      needs: test-sc-isa
#      if: github.ref == 'refs/heads/master'
#      steps:
#        - name: Checkout repository
#          uses: actions/checkout@v3
#
#        - name: Publish snapshot
#          run: sbt "+ publishSigned"
