name: test-scala-isabelle
on: [push]
jobs:
    test:
      strategy:
        matrix:
          isabelle: [2021-1-RC2, 2021, 2020, 2019]
          scala: [213, 212]
          os: [linux, windows]
          #scala: [213]
          #isabelle: [2021-1-RC2]
          #os: [windows]
      runs-on: [isabelle, "${{matrix.os}}"]
      steps:
        - name: Checkout repository
          uses: actions/checkout@v2
        - name: Running tests
          run: |
            echo /opt/Isabelle${{matrix.isabelle}} >.isabelle-home
            sbt 'testOnly -${{matrix.scala}} -- -h target/test-reports-html'
        - name: Upload test results
          uses: actions/upload-artifact@v2
          if: always()
          with:
            name: test-reports-html
            path: target/test-reports-html
